<form class="backpack-manager">
  <section class="stowed">
    {{#unless hideOwnInventory}}
    <header class="stowed-header" data-tooltip="BACKPACK_MANAGER.STOW_HEADER">
      <div class="header-name">{{localize 'BACKPACK_MANAGER.STOWED'}}: {{bag}}</div>
      {{#if showCapacity}}<div class="header-encumbrance">({{bagValue}} / {{bagMax}})</div>{{/if}}
    </header>
    {{/unless}}
    <div class="stowed-content">
      {{#each stowed as |item|}}
      <div class="item">
        <div class="item-details" data-uuid="{{item.item.uuid}}">
          <img src="{{item.item.img}}">
          <a>
            {{item.item.name}} {{#if (backpackManagerCheckqty item.quantity)}}({{item.quantity}}){{/if}}
          </a>
        </div>
        <div class="functions">
          {{#if (backpackManagerCheckqty item.quantity)}}
          <div class="quantities">
            <a data-type="less" data-tooltip="BACKPACK_MANAGER.LESS">
              <i class="fa-solid fa-arrow-left"></i>
            </a>
            <input type="number" data-tooltip="BACKPACK_MANAGER.VALUE" class="current" value="{{item.quantity}}" data-max="{{item.quantity}}" disabled>
            <a data-type="more" data-tooltip="BACKPACK_MANAGER.MORE">
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
          {{/if}}
          <a data-type="retrieve" data-tooltip="BACKPACK_MANAGER.RETRIEVE">
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
          </a>
          {{#unless ../hideOwnInventory}}
          <a data-type="delete" data-tooltip="BACKPACK_MANAGER.DELETE">
            <i class="fa-solid fa-trash"></i>
          </a>
          {{/unless}}
        </div>
      </div>
      {{/each}}
    </div>
  </section>

  {{#unless hideOwnInventory}}
  <section class="inventory">
    <header class="inventory-header" data-tooltip="BACKPACK_MANAGER.INVENTORY_HEADER">
      <div class="header-name">{{localize 'BACKPACK_MANAGER.INVENTORY'}}: {{actor}}</div>
      <div class="header-encumbrance">({{actorValue}} / {{actorMax}})</div>
    </header>
    <div class="inventory-content">
      {{#each items as |item|}}
      <div class="item">
        <div class="item-details" data-uuid="{{item.item.uuid}}">
          <img src="{{item.item.img}}">
          <a>
            {{item.item.name}} {{#if (backpackManagerCheckqty item.quantity)}}({{item.quantity}}){{/if}}
          </a>
        </div>
        <div class="functions">
          {{#if (backpackManagerCheckqty item.quantity)}}
          <div class="quantities">
            <a data-type="less" data-tooltip="BACKPACK_MANAGER.LESS">
              <i class="fa-solid fa-arrow-left"></i>
            </a>
            <input type="number" data-tooltip="BACKPACK_MANAGER.VALUE" class="current" value="{{item.quantity}}" data-max="{{item.quantity}}" disabled>
            <a data-type="more" data-tooltip="BACKPACK_MANAGER.MORE">
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
          {{/if}}
          <a data-type="stow" data-tooltip="BACKPACK_MANAGER.STOW">
            <i class="fa-solid fa-box-archive"></i>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </section>
  <footer class="button-section">
    <button name="close">
      <i class="fa-solid fa-briefcase"></i> {{localize "Close"}}
    </button>
  </footer>
  {{/unless}}
</form>
