<div class="content">
  <section class="currency">
    <header>
      <div class="header-name">{{localize "BACKPACK_MANAGER.Currencies"}}</div>
    </header>
    <ol class="currency-content">
      {{#each currencies as |curr|}}
      <div class="currency-item" data-denom="{{curr.class}}">
        <label class="denomination {{curr.class}}">{{curr.label}}</label>
        <div class="item currency">
          <a data-action="takeCurrency"><i class="fa-solid fa-arrow-right-arrow-left"></i></a>
          <input type="number" class="current" value="{{curr.max.bag}}" disabled>
          <a data-action="stowCurrency"><i class="fa-solid fa-box-archive"></i></a>
        </div>
      </div>
      {{/each}}
    </ol>
  </section>

  <div class="storages">

    {{#unless hideOwnInventory}}
    <header {{#if collapsed.bag}}class="collapsed"{{/if}} data-action="collapse" data-header="bag">
      <div class="header-name">{{localize 'BACKPACK_MANAGER.Stowed'}}: {{bag}}</div>
      {{#if showCapacity}}<div class="header-encumbrance">({{bagValue}} / {{bagMax}})</div>{{/if}}
    </header>
    {{/unless}}

    <div class="storage">
      {{#each stowed as |item|}}
      <div class="item">
        <div class="item-details" data-uuid="{{item.item.uuid}}">
          <img src="{{item.item.img}}">
          <a>{{item.item.name}} {{#if item.showQty}}({{item.quantity}}){{/if}}</a>
        </div>
        <div class="functions">
          {{#if item.showQty}}
          <div class="quantities">
            <a data-type="less"><i class="fa-solid fa-arrow-left"></i></a>
            <input type="number" class="current" value="{{item.quantity}}" data-max="{{item.quantity}}" disabled>
            <a data-type="more"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
          {{/if}}
          <a data-type="retrieve"><i class="fa-solid fa-arrow-right-arrow-left"></i></a>
          {{#unless ../hideOwnInventory}}
          <a data-type="delete"><i class="fa-solid fa-trash"></i></a>
          {{/unless}}
        </div>
      </div>
      {{/each}}
    </div>

    {{#unless hideOwnInventory}}
    <header {{#if collapsed.actor}}class="collapsed"{{/if}} data-action="collapse" data-header="actor">
      <div class="header-name">{{localize 'BACKPACK_MANAGER.Inventory'}}: {{actor}}</div>
      <div class="header-encumbrance">({{actorValue}} / {{actorMax}})</div>
    </header>

    <div class="storage">
      {{#each items as |item|}}
      <div class="item">
        <div class="item-details" data-uuid="{{item.item.uuid}}">
          <img src="{{item.item.img}}">
          <a>
            {{item.item.name}} {{#if item.showQty}}({{item.quantity}}){{/if}}
          </a>
        </div>
        <div class="functions">
          {{#if item.showQty}}
          <div class="quantities">
            <a data-type="less"><i class="fa-solid fa-arrow-left"></i></a>
            <input type="number" class="current" value="{{item.quantity}}" data-max="{{item.quantity}}" disabled>
            <a data-type="more"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
          {{/if}}
          <a data-type="stow"><i class="fa-solid fa-box-archive"></i></a>
        </div>
      </div>
      {{/each}}
    </div>

  </div>

  <footer class="button-section">
    <button data-action="close">
      <i class="fa-solid fa-briefcase"></i> {{localize "Close"}}
    </button>
  </footer>
  {{/unless}}
</div>
